* {
    padding: 0;
    margin: 0;
}
.container {
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
}
.wrapper {
    position: relative;
    width: 1000px;
    height: 910px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
img {
    height: 1000px;
    width: 1000px;
    object-fit: cover;
}
.buttonwrap {
    margin: 0 auto;
    width: 1450px;
    display: flex;
    top: 50%;

    position: absolute;
    justify-content: space-between;
}
.containerimg {
    right: -1000px;
    position: absolute;
    display: flex;
}
.arrow-hover {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.arrow-hover div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #337ab7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    left: 0;
    display: block;
}
.arrow-hover div::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #337ab7;
    transform: rotate(45deg);
}
.arrow-hover div::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #337ab7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(-45deg);
}
.arrow-hover:hover {
    animation: arrow-hover 1s linear infinite;
}
@keyframes arrow-hover {
    0% {
        left: 0;
    }
    50% {
        left: 10px;
    }
    100% {
        left: 0;
    }
}
.left-arrow {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px;
}
.left-arrow div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #337ab7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    right: 0;
    display: block;
}
.left-arrow div::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    left: -8px;
    background-color: #337ab7;
    transform: rotate(-45deg);
}
.left-arrow div::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    left: -8px;
    background-color: #337ab7;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(45deg);
}
.left-arrow:hover {
    animation: arrow-hover 1s linear infinite;
}
@keyframes arrow-hover {
    0% {
        right: 0;
    }
    50% {
        right: 10px;
    }
    100% {
        right: 0;
    }
}
